{% extends 'public/base.html' %}
{% load static %}

{% block content %}

            
            <section id="car-1-hero" class="no-js-fullheight slider-contnt" style="background-image: url({% static 'public/images/slider-3.jpg' %});" data-next="yes">
                <div class="car-1-overlay"></div>
                <div class="container">
                    <div class="car-1-intro no-js-fullheight">
                        <div class="car-1-intro-text">
                            <div class="car-1-center-position">
                                <h3 class="animate-box">Who We Are</h3>
                                <h4 class="animate-box">Lorem Ipsum is simply dummy text of the printing. Lorem Ipsum is simply <br>dummy text of the printing and typesetting industry.</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-1-learn-more animate-box">
                    <a href="#" class="scroll-btn">
                    <span class="text">Explore more</span>
                    <span class="arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </a>
                </div>
            </section>
            <div id="car-1-about">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <figure class="animate-box">
                                <img src="{% static 'public/images/slider-1.jpg' %}" alt="" class="img-responsive">
                            </figure>
                        </div>
                        <div class="col-sm-6">
                            <div class="car-1-label animate-box">We Are</div>
                            <h2 class="car-1-lead we-are animate-box">Number 1 provider of the gripping driving experience </h2>
                            <p class="car-1-sub-lead animate-box">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="car-1-team1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12  text-center">
                            <h2 class="car-1-lead animate-box fadeInUp animated">Our <span>Team</span></h2>
                        </div>
                    </div>
                    <div class="row team-sec">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="car-1-person">
                                <figure class="animate-box">
                                    <img src="{% static 'public/images/team-img1.jpg' %}" alt="" class="img-responsive">
                                </figure>
                                <h3 class="car-1-name animate-box">Alan Smith</h3>
                                <p class="car-1-bio animate-box">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <ul class="list-inline team-slink">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="car-1-person">
                                <figure class="animate-box">
                                    <img src="{% static 'public/images/team-img2.jpg' %}" alt="" class="img-responsive">
                                </figure>
                                <h3 class="car-1-name animate-box">Caroline</h3>
                                <p class="car-1-bio animate-box">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                 <ul class="list-inline team-slink">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="car-1-person no-mrgn">
                                <figure class="animate-box">
                                    <img src="{% static 'public/images/team-img3.jpg' %}" alt="" class="img-responsive">
                                </figure>
                                <h3 class="car-1-name animate-box">John Franklin</h3>
                                <p class="car-1-bio animate-box">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                 <ul class="list-inline team-slink">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="car-1-person">
                                <figure class="animate-box">
                                    <img src="{% static 'public/images/team-img4.jpg' %}" alt="" class="img-responsive">
                                </figure>
                                <h3 class="car-1-name animate-box">James Smith</h3>
                                <p class="car-1-bio animate-box">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                 <ul class="list-inline team-slink">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="exotic-sec" id="car-1-info">
                <div class="car-1-overlay plan-overlay"></div>
                <div class="container">
                    <h2 class="car-1-lead animate-box fadeInUp animated">Experience the Exotic Car collection</h2>
                    <p class="car-1-sub-lead animate-box fadeInUp animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        <br>has been the industry's standard.
                    </p>
                </div>
            </div>
            <section id="car-1-testimonials">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="car-1-lead animate-box">What our client say about us</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center animate-box">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <blockquote>
                                            <p>&ldquo;Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard&rdquo;</p>
                                            <p><cite>&mdash; Steve </cite>
                                            </p>
                                        </blockquote>
                                    </li>
                                    <li>
                                        <blockquote>
                                            <p>&ldquo;Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standardLorem Ipsum is simply dummy text of the printing. &rdquo;</p>
                                            <p><cite>&mdash; Frank Chimero</cite>
                                            </p>
                                        </blockquote>
                                    </li>
                                    <li>
                                        <blockquote>
                                            <p>&ldquo;Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standardLorem Ipsum is simply dummy text.&rdquo;</p>
                                            <p><cite>&mdash; Ferdinand A. Porsche</cite>
                                            </p>
                                        </blockquote>
                                    </li>
                                </ul>
                            </div>
                            <div class="flexslider-controls">
                                <ol class="flex-control-nav">
                                    <li class="animate-box"><img src="{% static 'public/images/client-1.jpg' %}" alt="">
                                    </li>
                                    <li class="animate-box"><img src="{% static 'public/images/client-2.jpg' %}" alt="">
                                    </li>
                                    <li class="animate-box"><img src="{% static 'public/images/client-3.jpg' %}" alt="">
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="car-1-subscribe">
                <div class="container">
                    <h3 class="animate-box"><label for="email">Subscribe to our newsletter</label></h3>
                    <form action="#" method="post" class="animate-box">
                        <i aria-hidden="true" class="fa fa-paper-plane car-1-icon"></i>
                        <input type="email" class="form-control" placeholder="Enter your email" id="email" name="email">
                        <input type="submit" value="Send" class="btn btn-primary">
                    </form>
                </div>
            </section>
            <!--Footer-->

{% endblock %}

            