{% extends 'public/base.html' %}
{% load static %}

{% block content %}

            
            <section id="car-1-projects" style="padding-top: 8em;">
                <div class="container">
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-8 col-md-offset-2 text-center welcome-sec">
                            <h2 class="car-1-lead animate-box">Successfully Checkedout Your Parking Slot</h2>
                            <h4 class="animate-box">Enjoy your Riding...!</h4>
                            <p class="animate-box main-btn">
                                        <a href="/" class="btn btn-primary">Go to Home</a>
                                    </p>
                        </div>
                    </div>
                    
                </div>
            </section>
           
      
       

 {% endblock %}