{% extends 'public/base.html' %}
{% load static %}

{% block content %}

       
            <section id="login-sec">
                <div class="container login-sec">
                    <form class="login-form" method="post" action="login">
                        {% csrf_token %}
                        <ul>
                            <h2>Login</h2>
                            <li><input type="text" name="username" placeholder="Name" class="login-txt"></li>
                            <li><input type="password" name="password" placeholder="Password" class="login-txt"></li>
                            <li><input type="submit"  value="Login" class="btn btn-primary login-btn"></li>
                        </ul>
                        
                        <ul>
                             <img src="{% static 'public/images/damage.jpg' %}" style="width:100%">
                        </ul>
                        {% if status %}
                        <ul>
                            <h6 style="color: red; text-align: center;">Username/Password wrong...!</h6></ul>
                         {% endif %}
                    </form>
                </div>
            </section>
             {% endblock %}